.navbar {
    height: 100px;
    width: inherit;
    margin: 0;
    background-color: rgb(205, 205, 95);
    color: rgb(255, 255, 255);
    padding: 10px;
    display: flex;
    padding: 25px;
}
.container{
    margin: 20px;
}
.row{
    padding: 10px;
}
.navbar h1{
    height: 50px;
    font-size: 40px;
}
.link{
    text-decoration: none;
    color: #ffffff;
}
.home-button{
    margin: 10px ;
    margin-left: 50px ;
    margin-right: 50px ;
    width: 400px;
}
.error{
    font-size: 10px;
    color: rgb(255, 0, 0);
}